[python: prewarning.py]
encoding = utf-8
extract_messages = _, N_

[python: utils/**.py]
encoding = utf-8
extract_messages = _, N_

[python: punchsources/**.py]
encoding = utf-8
extract_messages = _, N_

[python: startlistsources/**.py]
encoding = utf-8
extract_messages = _, N_

[python: validators/**.py]
encoding = utf-8
extract_messages = _, N_
